<div class="card w-90 mt-3" style="max-width:970px">
    <div class="card-body">
      <div class="row">
        <div class="col-3" style="justify-content: left; min-width: 80px; max-width: 75px;">
          <img src="https://res.cloudinary.com/breeta/image/upload/c_thumb,w_200,g_face/<%=breet.pfp.slice(47)%>" class="rounded-circle" alt="..." style="height: 75px; width: 75px">
          </div>
          <div class="col"><h5 class="card-title" style="display:inline-block"><%=breet.dName%></h5>
          <h6 class="card-subtitle mb-2 text-muted" style="display:inline-block">@<%=breet.username%></h6>
        </div>
    </div>