<form action="/breeta/<%=breet._id%>/like"><button class="btn"><i class="bi bi-heart"></i></button></form>
            <button class="btn"><i class="bi bi-chat"></i></button>
            <button class="btn"><i class="bi bi-arrow-repeat"></i></button>
          <a href="#" class="card-link">Another link</a>
